body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
}

.content {
	width: fit-content;
}

.items {
	display: grid;
	grid-template-columns: [col-start] auto 1fr auto auto auto;
	gap: 0.3rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-top: 0.1rem solid;
	border-bottom: 0.1rem solid;
	grid-template-columns: repeat(5, auto);
}

.item-summary {
	display: grid;
	font-size: calc(12rem / 16);
	align-items: center;
	gap: calc(10rem / 16);

	grid-template-columns: subgrid;
	grid-column: 1 / 7;
}

.item-summary .thumb {
	height: calc(70rem / 16);
	grid-column: 1;
}

.item-summary .name {
	cursor: pointer;
	flex: 1;
	/*grid-area: n;*/
}


.price {
	width: 5rem;
	text-align: end;
}

.quantity {
	width: 1rem;
	text-align: end;
}

.price-breakdown {
	width: 100%;
}

.price-line {
	display: flex;
	gap: 0.3rem;
}

.price-label {
	flex: 1;
	text-align: end;
}

.addresses {
	display: flex;
}

.address-type{
	font-weight: 600;
}

.address {
	display: flex;
	flex-direction: column;
	flex: 1;
}
