button{
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	user-select: none;
	appearance: none;
	border: calc(1rem / 16) solid #d2dadf;
	/*color: #212426;*/
	padding: calc(10rem / 16) 1rem;
	border-radius: calc(4rem / 16);
	font-size: calc(14rem / 16);
	font-weight: 700;
	transition: border-color .1s,background-color .1s;
	cursor: pointer;
	color: var(--theme-text-color);
	background-color: var(--theme-background-secondary);
}
button:disabled{
	color: var(--theme-text-inactive);
}
input, textarea{
	font-size: 1rem;
	max-width: 100%;
	padding: calc(5rem / 16);
	box-sizing: border-box;
	background-color: var(--theme-background-primary);
	border: 0.1rem solid var(--theme-border-primary);
	color: var(--text-primary);
	caret-color: var(--text-link);
}

h1{
	font-size: 3rem;
}
