:host {
	display: flex;
	flex-direction: column;
}

.orders {
	display: table;
	border-spacing: 10px;
}

.order {
	display: table-row;
	gap: 1rem;
	cursor: pointer;
}

.order>* {
	display: table-cell;
}
